<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vport.system.mapper.CourseMapper">
	<!-- SELECT * FROM trainer t, training_class c 
	WHERE t.`class_id` = c.`id` AND t.`trainer_id` = 1; -->
	<resultMap type="TrainingClassInfo" id="trainerAndClass">
		<result column="id" property="classId"/>
		<result column="class_name" property="className"/>
		<result column="place" property="place"/>
		<result column="address" property="address"/>
		<result column="period" property="period"/>
		<result column="hour_to" property="hourTo"/>
		<result column="rank" property="rank"/>
		<result column="description" property="description"/>
		<result column="starttime" property="starttime"/>
		<result column="createtime" property="createtime"/>
		<result column="is_open" property="isOpen"/>
		<result column="is_finish" property="isFinish"/>
		<result column="is_chief" property="isChief"/>
	</resultMap>
	<select id="findClassByTrainer" parameterType="Long" resultMap="trainerAndClass">
		SELECT * FROM trainer t, training_class c 
		WHERE t.class_id = c.id 
		AND t.trainer = #{value}
	</select>
	
	<select id="findClassByPlayer" parameterType="Long" resultMap="trainerAndClass">
		SELECT * FROM player p, training_class tc
		WHERE p.class_id = tc.id
		AND p.player = #{value}
	</select>
	<!-- <resultMap type="User" id="students">
		<result column="id" property="id"/>
		<result column="name" property="name"/>
	</resultMap> -->
	<select id="findStudentsByClass" parameterType="Long" resultType="User">
		SELECT * FROM player p,USER u 
		WHERE p.player = u.id 
		AND p.class_id = #{value}
	</select>
	
	<resultMap type="TrainingPlan" id="trainingPlan">
		<id column="id" property="id"/>
		<result column="training_time" property="trainingTime"/>
		<result column="created" property="created"/>
		<result column="updated" property="updated"/>
		<result column="chief_trainer_id" property="chiefTrainer"/>
		<result column="class_id" property="classId"/>
		<result column="assistant_trainer_id" property="assistantTrainer"/>
	</resultMap>
	
	<select id="findPlanHistoryByClass" parameterType="Long" resultMap="trainingPlan">
		SELECT * FROM training_schema 
		WHERE class_id = #{value}
		AND training_time &lt; NOW()
		ORDER BY training_time DESC
	</select>
	<select id="findFuturePlansByClass" parameterType="Long" resultMap="trainingPlan">
		SELECT * FROM training_schema 
		WHERE class_id = #{value}
		AND training_time &gt;= NOW()
		ORDER BY training_time
	</select>
	
	<select id="findClassInfoByClassId" parameterType="Long" resultMap="trainerAndClass">
		select * from training_class c
		where id = #{value}
	</select>
	
	<resultMap type="ClassInfoForStu" id="classInfoForStu">
		<result column="id" property="classId"/>
		<result column="class_name" property="className"/>
		<result column="place" property="place"/>
		<result column="period" property="period"/>
		<result column="hour_to" property="hourTo"/>
		<result column="rank" property="rank"/>
		<result column="description" property="description"/>
		<result column="starttime" property="starttime"/>
		<result column="createtime" property="createtime"/>
		<result column="is_open" property="isOpen"/>
		<result column="is_finish" property="isFinish"/>
		<association property="trainer" javaType="User">
			<id column="trainerId" property="id"/>
			<result column="trainerName" property="name"/>
			<result column="icon" property="icon"/>
		</association>
	</resultMap>
	<select id="findClassInfoByStu" parameterType="Long" resultMap="classInfoForStu">
		SELECT tc.*,u.name as trainerName,u.id AS trainerId,u.icon 
		FROM player p, training_class tc,trainer t,USER u
		WHERE p.class_id = tc.id
		AND t.class_id = p.class_id
		AND t.trainer = u.id
		AND t.is_chief = TRUE
		AND p.player = #{value}
	</select>
	
	<select id="findClassInfoForStuByClassId" parameterType="Long" resultMap="classInfoForStu">
		SELECT tc.*,u.name AS trainerName,u.id AS trainerId,u.icon 
		FROM training_class tc,trainer t,USER u
		WHERE t.class_id = tc.id
		AND t.trainer = u.id
		AND t.is_chief = TRUE
		AND tc.id = #{value}
	</select>
	
	<insert id="storeClass" parameterType="TrainingClass">
		<selectKey keyProperty="classId" resultType="Long" order="AFTER">
			select LAST_INSERT_ID()
		</selectKey>
		insert into training_class (class_name,place,period,hour_to,rank,description,starttime,createtime,is_open,is_finish,deadLine,pic,age_range,address)
		values(#{className},#{place},#{period},#{hourTo},#{rank},#{description},#{starttime},#{createtime},#{isOpen},#{isFinish},#{deadLine},#{pic},#{ageRange},#{address})
	
	</insert>
	<insert id="linkClassAndTrainer">
		insert into trainer (trainer,class_id,is_chief) values (#{trainer},#{classId},#{isChief})
	</insert>
	
	<select id="findChiefTrainerOfClass" parameterType="Long" resultType="User">
		SELECT id, name, icon
		FROM USER
		WHERE id =(
		SELECT trainer FROM trainer
		WHERE class_id=#{value} AND is_chief = 1)
	</select>
	
	<insert id="linkClassAndStu">
		insert into player (player,class_id) values (#{student},#{classId})
	</insert>
	
</mapper>